<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mytag="http://www.ybwh.com/schema/mytag"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.ybwh.com/schema/mytag http://www.ybwh.com/schema/mytag/ybwh-mytag-1.0.xsd"
	default-autowire="byName">


	<!-- 最简单的标签，还可以给其他bean引用 -->
	<mytag:employee id="hr" num="333333" name="Linda">
	</mytag:employee>
	<bean id="personnalDept" class="com.ybwh.spring.schema.model.Department">
		<property name="head" ref="hr"></property>
	</bean>
	
	<!-- 带有子标签且关系为一对一的标签 -->
	<mytag:department id="devDept" name="development dept" employeeCount="12">
		<mytag:employee name="Wendy" num="4444" >
		</mytag:employee>
	</mytag:department>
	
	
	<!-- 带有子标签且关系为一对多的标签 -->
	<mytag:company id="myCompany" name="myCompany" businessLicense="LC34w543363">
		<mytag:employee name="Fuck" num="1111" ></mytag:employee>
		<mytag:department name="development dept" employeeCount="12">
			<mytag:employee name="Wendy" num="4444"></mytag:employee>
		</mytag:department>
		<mytag:department name="personal dept" employeeCount="5">
			<mytag:employee name="Marry" num="3333"></mytag:employee>
		</mytag:department>
	</mytag:company>
	
	
	
	
	
	

	<bean id="head" class="com.ybwh.spring.schema.model.Employee">
		<property name="num" value="120000000"></property>
		<property name="name" value="Mike"></property>
	</bean>




	<!-- <bean id="myCompany" class="com.ybwh.spring.main.schema.Company"> <property 
		name="personnalDept" ref="personnalDept"></property> </bean> -->


</beans>