<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ybwh.springboot2.demo.dao.AreaDao">
	<resultMap id="areaResultMap" type="area">
		<id column="id" property="id" />
		<result column="areaName" property="areaName" />
		<result column="parent_id" property="parentId" />
		<result column="short_name" property="shortName" />
		<result column="area_code" property="areaCode" />
		<result column="level" property="level" />
		<result column="sort" property="sort" />
		<result column="id_path" property="idPath" />
		<result column="name_path" property="namePath" />
		<result column="is_leaf" property="isLeaf" />
		<result column="is_del" property="isDel" />
		<result column="create_time" property="createTime" />
		<result column="create_id" property="createId" />
		<result column="update_time" property="updateTime" />
		<result column="update_id" property="updateId" />
	</resultMap>
	<sql id="area_Column_List">
		id, area_name areaName, parent_id, short_name, area_code, level, sort,
		id_path, name_path,
		is_leaf, is_del, create_time, create_id, update_time, update_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="areaResultMap"
		parameterType="int">
		select
		<include refid="area_Column_List" />
		from area
		where id = #{id}
	</select>


	<select id="selectPageVo" resultMap="areaResultMap">
		select
		<include refid="area_Column_List" />
		from area
		where parent_id = #{map.parentId}
	</select>


</mapper>